.circularprog{
    display: flex;
    justify-content: center;
    padding-top: 30%;
}
.accountoption-section{
    padding: 1rem;
}
.account-tab-main{
    background-color: #F5E9DC;
    width: fit-content;
    height: fit-content;
}
.account-tab{
    font-size: 2rem;
    padding: 1rem;
    border: solid black 1px;
}
.account-tab:hover{
    cursor: pointer;
background-color: #54b3d6;
    color: white;
}
.account-main{
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}
.selection-div{
    background-color: #F5E9DC;
    padding: 1rem;
    width: 60rem;
    padding-right: 1rem;
    border-radius: 5px;
}
.usernametxt{
   margin: 1rem;
}
.emailtxt{
    
    padding:1rem;
    background-color: #54b3d6;
    border-radius: 5px;
    color: white;
    width: fit-content;
}
.editbtn{
    background-color: #54b3d6;
    color: white;
    border-radius: 5px;
    width: fit-content;
    padding: 1rem;
    margin-left: 1rem;
    height: fit-content;
    

}
.savebtn {
    background-color: white;
    color: #54b3d6;
    border-radius: 5px;
    width: fit-content;
    padding: 1rem;
    margin-left: 1rem;
    height: fit-content;


}
.savebtn:hover{
    cursor: pointer;
    color: white;
    background-color: #54b3d6;
}
.editbtn:hover{
    cursor: pointer;
    opacity: 0.5;
}
.combinediv{
    margin-top: 1rem;
    display: flex;
}
.gendertxt{
    margin-top: 1rem;

}
.gendermain{
    display: flex;
}
.choosegender{
    padding-left: 0.5rem;
}
.addressdiv{
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
}
.cityandpincode{
    display: flex;
    
}
.towneditmain{
    padding-left: 1rem;
}
.editbtndelete{
    background-color: #EE4B2B;
        color: white;
        border-radius: 5px;
        width: fit-content;
        padding: 1rem;
        margin-left: 1rem;
        height: fit-content;
}
.editbtndelete:hover {
    cursor: pointer;
    opacity: 0.5;
}
.errormsg{
    color: red;
    padding: 2px;

}