.footer {
    background: #F5E9DC;
    padding: 3rem;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 0;
}

.footer-section {
    flex: 1;
    padding: 1rem;
}

.footer-section h3 {
    margin-bottom: 0.4rem;
}


.footer-section.social{
    padding: 1rem;
}
.footer-section.social a{
    color: black;
    margin: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.footer-section.social a:hover {
    color: #54b3d6;
}

.footer-bottom {
    padding: 1rem;
    font-size: 1rem;
}

.footer-bottom span {
    color: #ff6347;
}